PORT=3000
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:squizzberry2001@gmail.com

# Optional: isi domain frontend untuk CORS, contoh:
# FRONTEND_ORIGIN=https://username.github.io
FRONTEND_ORIGIN=
